span.summary {
  height: 1em;
}

span.entity-template-property-frequency,
span.entity-template-property-status {
  font-weight: bold;
  font-size: 1.2em;
}

span.entity-template-property-frequency {
  float: left;
}
span.entity-template-property-status {
  float: right;
}

span.entity-template-property-empty {
  color: #D3D3D3;
}
span.entity-template-property-error {
  color: red;
}

span.entity-template-property-frequent {
  color: #008000;
}

span.entity-template-property-uncommon {
  color: #FFA500;
}

span.entity-template-property-rare {
  color: #FF0000;
}

div.entity-template-method-radios div.form-item {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
}

